{% extends "layout.html" %}
{% block content %}
    {% for store in stores %}
        <div class="card">
          <div class="card-body" style="background-color:#ffc107;">
            {% set products=store.products %}
            <h1>#Store Name: <b>{{store.name}}</b></h1>
            <h2>&emsp;Store Location: <b>{{store.location}}</b></h2>
            <h1>&emsp;Number of products: {{products|length}} </h1>
          </div>
        </div>
          {% if not products:%}
            <br>
            <div class="card">
              <div class="card-body">
                 <h3 class="d-flex p-2">The store does not contain any Products,Yet!</h3>
              </div>
            </div>
            <br>
         {% endif %}
        <br>
        <hr>
        <br>
    {% endfor %}

{% endblock content %}