{% extends "layout.html" %}
{% block content %}
    <div class="card">
      <div class="card-body" style="background-color:#ffc107;">
        <h2 class="mb-3">Published by: {{ user.username }} ({{ products.total }}) Products</h2>
      </div>
    </div>
    <br>
    <hr>
    <br>
    {% for product in products.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + product.owner.image_profile) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_products', username=product.owner.username) }}"> {{ product.owner.username }} </a>
              <small class="text-muted">{{ product.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
              <div class="media">
                <div class="media-body">
                  <h2><a class="article-title" href="{{ url_for('product', product_id=product.id) }}">{{ product.title }}</a></h2>
                  {% if product.type == "for sale" %}
                    <h6 class="article-title"> <b>Type: </b> <button type="button" class="btn btn-warning btn-lg p-1 pl-4 pr-4" disabled> {{ product.type }} </button></h6>
                    <h6 class="article-title"> <b>Price:</b> {{ product.price }} DA.</h6>
                  {% elif product.type == "for free" %}
                    <h6 class="article-title"> <b>Type: </b> <button type="button" class="btn btn-success btn-lg p-1 pl-4 pr-4" disabled>{{ product.type }}</button></h6>
                    <h6 class="article-title"> <b>Price:</b> 00.00 DA.</h6>
                  {%  elif product.type == "for exchange" %}
                    <h6 class="article-title"> <b>Type: </b> <button type="button" class="btn btn-primary btn-lg p-1 pl-4 pr-4" disabled>{{ product.type }}</button></h6>
                    <h6 class="article-title"> <b>I want to exchange with:</b> {{ product.exchangeList }}.</h6>
                  {% else %}
                    <h6 class="article-title"> <b> No type is chosen</b>.</h6>
                  {% endif %}
                </div>
                {% set image_product = url_for('static', filename='product_pics/' + product.image_product) %}
                <img class="rounded-circle product-home-img img-thumbnail" src="{{ image_product }}">
              </div>
              <p class="article-content">{{ product.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if products.page == page_num %}
          <a class="btn btn-warning mb-4" href="{{ url_for('user_products', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-warning mb-4" href="{{ url_for('user_products', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}